.loginPage{
    margin-top:100px;
    text-align: center;
}

.signUp, .logIn{
    font-size:50px;
    font-weight:bold;
    font-style:italic;
    color:blueviolet;
}
.inputContainer{
    display: inline-block;;
    justify-content: center;
}

.usernameInput{
    margin-top:30px;
    margin-bottom:30px;
    margin-right:10px;
    border-radius:5px;
    padding:10px;
    width:200px;
    box-shadow:5px 5px 5px;
}

.usernameInput::placeholder{
    font-size:20px;
}

.usernameInputButton{
    margin-top:30px;
    background-color:grey;
    font-size:20px;
    color:white;
    border:2px solid black;
    border-radius:10px;
    height:40px;
    cursor:pointer;
}

.usernameInputButton:hover{
    background-color:black;
    transition-duration: 0.1s;
  }

.things{
    display:flex;
    justify-content: center;
}