.test{
    display:inline-block;
    font-size:20px;
}

.text{
    font-size:20px;
    color:rgb(109, 107, 107);
}


.Menu{
    text-align: center;
}

.username{
    margin-left:10px;
    margin-right:4px;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style:italic;
    display:inline-block;
}

.NewChatroom{
        
}

.NewChatroomName{
    height:30px;
    margin-right:5px;
    border:2px solid black;
    border-radius:5px;
    padding-left:6px;
}


.NewChatroomCode{
    height:30px;
    margin-right:5px;
    border:2px solid black;
    border-radius:5px;
}

.NewChatroomCode::placeholder{
    text-align: center;
    font-size:15px;
}

.NewChatroomButton{
    height:30px;
    border:1px solid white;
    border-radius:10px;
    cursor:pointer;
}

.NewChatroomButton:hover{
    border:1px solid black;
}

.JoinChatroom{
    
}

.JoinChatroomCode{
    height:30px;
    margin-right:5px;
    border:2px solid black;
    border-radius:5px;
}

.JoinChatroomCode::placeholder{
    text-align: center;
    font-size:15px;
}

.JoinChatroomButton{
    height:30px;
    border:1px solid white;
    border-radius:10px;
    cursor:pointer;
}

.JoinChatroomButton:hover{
    border:1px solid black;
}

.Chatrooms{
    border: 2px solid black;
    border-radius:5px;
    margin-top:10px;
    margin-left:250px;
    margin-right:30px;
    padding:5px;
}

.Chatrooms:hover{
    background-color:rgb(171, 161, 161);
    color:white;
}